<a href="https://colab.research.google.com/github/gwanmins/gwanmin-s-study/blob/main/3%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
fruit=["사과", "포도", "홍시"]
favorite=input("좋아하는 과일은? :")
if favorite in fruit:
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? :사과
정답입니다.

2

In [ ]:
score=int(input("Score를 입력하세요 : "))
if 81<=score<=100 :
  print("grade is A")
elif 61<=score<=80 :
  print("grade is B")
elif 41<=score<=60 :
  print("grade is C")
elif 21<=score<=40 :
  print("grade is D")
else:
  print("grade is E")

Score를 입력하세요 : 83
grade is A

3

In [ ]:
n=input("주민등록번호를 입력하세요 : ")
first_cal = int(n[0])*2+int(n[1])*3+int(n[2])*4+int(n[3])*5+int(n[4])*6+int(n[5])*7+int(n[7])*8+int(n[8])*9+int(n[9])*2+int(n[10])*3+int(n[11])*4+int(n[12])*5
second_cal=(11-first_cal)%10
if second_cal == int(n[-1]):
  print("유효한 주민등록번호입니다.")
else :
  print("유효하지 않은 주민등록번호입니다.")

주민등록번호를 입력하세요 : 821010-1635210
유효하지 않은 주민등록번호입니다.

4

In [ ]:
n=int(input("상품 개수는?"))
if n < 10 :
  price=n*100
elif 10<=n<30:
  price=n*95
elif 30<=n<100:
  price=n*90
else :
  price=n*85
print("상품의 가격은 %d 입니다." % price)

상품 개수는?500
상품의 가격은 42500 입니다.

5

In [ ]:
def what_year(year) :
  if year%4 == 0 :
    if year%100 != 0 :
       print(year,"년은 윤년이다.") 
    elif year%400 == 0 :
       print(year,"년은 윤년이다.")  
    else :
       print(year,"년은 윤년이 아니다.")
  else :
    print(year,"년은 윤년이 아니다.")    

year=int(input("몇년도 인가요?: "))
what_year(year)

몇년도 인가요?: 1900
1900 년은 윤년이 아니다.

6

In [ ]:
def monlen(year,month) :
  import calendar
  a=calendar.monthrange(year, month)
  month_length=a[1]
  print("{0}년 {1}월은 {2}일까지 있습니다.".format(year, month, month_length))

year, month=map(int, input("몇 년 몇 월? :").split())

monlen(year, month)

몇 년 몇 월? :1999 9
1999년 9월은 30일까지 있습니다.

7

In [ ]:
k=0
for i in range(1001) :
  if i%3 == 0:
    k=k+i
print(k)

166833

8

In [ ]:
A=[20,55,67,82,45,33,90,87,100,25]
k=0
for i in A :
  if i >= 50 :
    k=k+i
print(k)

481

9

In [ ]:
i=1
while i<5:
  print("*"*i)
  i+=1

*
**
***
****

10

In [ ]:
a=100
k=0
while a <10000 :
  k=k+a
  a=a+5
print(k)

9994050

11

In [ ]:
for i in range(1, 101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

12

In [ ]:
A=[70,60,55,75,95,90,80,80,85,100]
k=0
for i in A :
  k=k+i
average=k/10
print("A학급의 평균은 %d입니다."% average)

A학급의 평균은 79입니다.

13

In [ ]:
numbers=[]
for i in range(1,101):
  if "3" in str(i) :
    numbers.append("*")
  elif "6" in str(i) :
    numbers.append("*")
  elif "9" in str(i) :
    numbers.append("*")
  else:
    numbers.append(i)
print(numbers)

[1, 2, '*', 4, 5, '*', 7, 8, '*', 10, 11, 12, '*', 14, 15, '*', 17, 18, '*', 20, 21, 22, '*', 24, 25, '*', 27, 28, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 40, 41, 42, '*', 44, 45, '*', 47, 48, '*', 50, 51, 52, '*', 54, 55, '*', 57, 58, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 70, 71, 72, '*', 74, 75, '*', 77, 78, '*', 80, 81, 82, '*', 84, 85, '*', 87, 88, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 100]

14

In [ ]:
a=[]
for i in range(1,101) :
  if i%3==0 or i%4==0 :
    a.append(i)
print(a)

[3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24, 27, 28, 30, 32, 33, 36, 39, 40, 42, 44, 45, 48, 51, 52, 54, 56, 57, 60, 63, 64, 66, 68, 69, 72, 75, 76, 78, 80, 81, 84, 87, 88, 90, 92, 93, 96, 99, 100]

15

In [ ]:
def max_num(list_some) :
  k=0 
  for i in list_some :
    if i>k :
      k=i
    else :
      continue
  print(k)

a=[1,2,3,4,5,6,7,100]
max_num(a)

100

16

In [ ]:
n=int(input("숫자를 입력하시오 : "))
for i in range(2, n):
  if n%i==0:
    n=False
    print(n)
    break
else :
  n=True
  print(n)

숫자를 입력하시오 : 7
True

16-2

In [ ]:
num=1
sum=0

while num<100:
  num+=1
  for i in range(2,num):
    if num%i == 0:
      break
    else :
      continue

  else :
    sum=sum+num
print("모든 소수의 합은",sum,"입니다.")

모든 소수의 합은 1060 입니다.