<a href="https://colab.research.google.com/github/gwanmins/gwanmin-s-study/blob/main/4%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4-1

In [ ]:
def is_odd(number) :
  if number%2 == 0:
    print("짝수입니다.")
  else :
    print("홀수입니다.")

is_odd(2022)

짝수입니다.

4-2

In [ ]:
def average(*args):
  sum=0
  for i in args:
    sum+=i
  return sum/len(args)
average(1,2,3,4,5)

3.0

4-3

In [ ]:
def func(a,b):
  c=a//b
  d=a%b
  return c, d

func(17,5)

(3, 2)

4-4

In [ ]:
def is_sum(*args):
  k=0
  for i in args:
    k+=i
  return print("합은 %d입니다." %k)

is_sum(1,2,3,4,5,6)

합은 21입니다.

4-5

In [ ]:
def is_gugu(n):
  for i in range(1,10):
    print(n*i, end=' ')

is_gugu(2)

2 4 6 8 10 12 14 16 18

4-6

In [22]:
def fib(n : int) -> int :
  num_list=[0,1,1]
  for i in range(1,n-1) :
     a=num_list[i]+num_list[i+1]
     num_list.append(a)
  return num_list[n]
fib(20)

6765

4-7

In [ ]:
def Grading(n) :
  if n>=90:
    grade="A"
  elif 80<=n<90:
    grade="B"
  elif 70<=n<80:
    grade="C"
  elif 60<=n<70:
    grade="D"
  else:
    grade="F"
  return print("{0}점은 {1}입니다.".format(n, grade))

n=int(input("당신의 점수는? "))
Grading(n)

당신의 점수는? 75
75점은 C입니다.

4-8

In [ ]:
try:
  number=int(input("자연수를 입력하세요 "))
  if number%2 == 0:
    print("짝수")
  else:
    print("홀수")
except ValueError: 
  print("자연수를 입력하시오")

자연수를 입력하세요 17.5
자연수를 입력하시오

4-9

In [ ]:
def check_prime(n):
   if n==1:
      print("1보다 큰수를 입력하시오")
   elif n==2:
      print("소수입니다.")
   for i in range(2,n):
    if n%i == 0 :
      print("합성수입니다,")
      break
    else :
      print("소수입니다.")
      break

check_prime(17)

소수입니다.

4-10

In [ ]:
def factorization_prime(n):
  prime_list=[]
  for i in range(1,n+1):
    if n%i==0:
      prime_list.append(i)
  return prime_list

factorization_prime(17)

[1, 17]

4-11

In [50]:
def is_Uglynumber(x):
  d=2
  global uglylist
  uglylist=[]
  while d<= x:
    if x%d == 0:
      uglylist.append(d)
      x=x/d
    else :
      d=d+1
  for i in uglylist :
    if i!=2 and i!=3 and i!=5:
      return print("못난이수가 아닙니다.")
    else :
      return print("못난이수입니다")
  if x==1 :
      print("못난이 수입니다.")

is_Uglynumber(12)

못난이수입니다